@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --color-primary: #00ff99;
  --color-secondary: #00e5ff;
  --color-info: #2f80ed;
  --color-success: #27ae60;
  --color-warning: #e2b93b;
  --color-danger: #eb5757;
  --color-black-1: #000000;
  --color-black-2: #151515;
  --color-black-3: #242424;
  --color-white: #ffffff;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #eaeaea;
}

@utility background {
  background:
    linear-gradient(
      136deg,
      rgba(0, 255, 163, 0.05) 0%,
      rgba(0, 255, 163, 0) 100%
    ),
    #151515;
}

@utility label-heading {
  @apply block text-gray-4 text-sm tracking-[20%];
}

@utility custom-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  @apply text-2xl lg:text-5xl font-bold text-primary;
}
